*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif ;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.logo h1{
    color: #2b89c8;;
}

.logo h1 b{
    color: #17d136;
    font-weight: bold;
}

.menu{
    height: 70px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.menu nav ul li a{
    color: #000;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    /* text-decoration: underline; */
    color: #17d136;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background: #e9e6e6;
    padding: 10px;
    border-radius: 100%;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#icon-menu:hover{
    background: #f2f2f2;
}

/*portada*/


.portada{
    width: 100%;
    height: 600px;
    margin-top: 70px;
    position: relative;
    background-image: url(../img/pexels-cottonbro-7579823.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.portada:before{
    content: '';
    width: 100%;
    height:100%;
    position: absolute;
    background: rgba(16, 46, 179, 0.8);
    top: 0;
    left: 0;
}
.portada .contenedor{
    z-index: 1;
}

.info-portada{
    width: 700px;
    /* background: #000; */
    color: #fff;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 19px; */
}

.info-portada .boton{
    /* background: #f5aa09;*/
    background: #FEBC00;
    padding: 20px 0px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    width: 35%;
    font-weight: bold;
    transition: all 300ms;
}

.info-portada .titulo{
    line-height: 45px;
    font-size: 35px;
    font-weight: lighter;
    padding-right: 10px;
}

.info-portada .boton:hover{
    /* background: #0ddd53 */
    background: #4AFC07;
}
.info-portada .boton a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}

/*Main*/

.main{
 /* background: #ececec; */
 /* margin-top: 60px; */
 padding: 40px 0;
 display: flex;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;

}

.main .imagen{
    width: 40%;
    padding: 40px;
    /* margin-right: 20px; */
    /* margin: auto; */
    /* padding: 50px 0; */
    /* background: #000; */
}

.main .imagen img{
    width: 100%;
    vertical-align: top;
    border-radius: 10px;
}

.info-imagenes{
    /* background: #353535; */
    /* padding: 40px; */
    padding: 0px 10px;
    width: 55%;
    
}

.info-imagenes h2{
    /* text-align: center;*/
    color: #0c1369;
    margin: 30px 0;
    font-size: 35px;
    font-weight: lighter;
}

.info-imagenes .uno{
    padding: 40px 0;
    font-size: 20px;
    line-height: 27px;
}

.info-imagenes .dos{
    font-size: 20px;
}

/*Cards*/


.card{
    /* background: #cecece; */
    padding: 60px 0;
}

.contenedor-tarjetas{
    width: 90%;
    max-width: 1200px;
    /* height: 430px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: center; */
    margin: auto;
}


.titulo-cards{
    width: 100%;
}

.titulo-tarjetas{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 35px;
    color: #7c6666;
}

.linea-tarjetas{
    width: 80px;
    height: 3px;
    border-radius: 10px;
    background: rgb(42, 175, 42);
    margin: 20px auto 40px auto;
}

.tarjeta{
    width: 25%;
    background: #fcf9f9;
    width: 320px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    /* margin: 0 10px; */
    text-align: center;
    transition: all 0.25s;
    padding:10px;
}

.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.tarjeta img{
    width: 100%;
    /* max-width: 300px; */
    height: 100%;
    max-height: 170px;
    border: 1px solid rgb(139, 253, 219);
    border-radius: 5px;
}

.tarjeta h4{
    font-size: 30px;
    text-align: left;
    margin: 20px 10px;
    font-weight: 300;
    color: #3b3b3b;
}

.linea{
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background: rgb(42, 175, 42);
    margin: 10px 10px;
}

.tarjeta p{
    padding: 10px 10px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 20px;
    color: #666565;
}

.tarjeta a{
    display: inline-block;
    text-decoration: none;
    background: #81cc37;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    margin-right:170px;
}

.tarjeta a:hover{
    background: #2b89c8;;
}


/*Servicios*/

.servicios{
    /* background: #cecece; */
    padding: 60px 0;
}

.contenedor-servicios{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
}

.servicio{
    /* background: rgb(31, 177, 31); */
    width:200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
}

.tres{
    background: #81cc37;
}

.cuatro{
    background: #2b89c8;
}
.cuatro:hover{
    background:#81cc37;
}

.cinco{
    background: #2b89c8;
    opacity: 0.9;
}
.cinco:hover{background:#81cc37;}

.seis{
    background: #2b89c8;
    opacity: 0.7;
}
.seis:hover{background:#81cc37;}

.siete{
    background: #2b89c8;
    opacity: 0.6;
}

.servicio a{
    text-decoration: none;
    font-size: 150px;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
}

.servicio p{
    font-size: 25px;
    color: #fff;
    font-weight: lighter;
}

/* .informacion{
    width: 100%;
    margin: auto;
}
.contenedor-infor{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: auto; */

.informacion{
    width: 100%;
    height: 600px;
    margin-top: 70px;
    position: relative;
    background-image: url(../img/img/1520.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin: auto;
    /* margin-bottom: 20px; */
}

/*Articulos de interes*/

.noticias{
    /* background: #cecece; */
    padding: 60px 0;
}

.contenedor-noticias{
    width: 90%;
    max-width: 1200px;
    /* height: 430px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}


.titulo-noticia{
    width: 100%;
}

.titulo-noticias{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 35px;
    color: #7c6666;
}

.linea-noticias{
    width: 80px;
    height: 3px;
    border-radius: 10px;
    background: #2b89c8;
    margin: 20px auto 40px auto;
}

.cartas{
    width: 25%;
    /* background: #fcf9f9; */
    width: 330px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
 
}

.cartas img{
    width: 100%;
    height: 100%;
    max-height: 190px;
    border-radius: 5px;
    cursor: pointer;
}

.cartas h4{
    font-size: 20px;
    text-align: left;
    margin: 20px 10px;
    font-weight: 300;
    color: #3b3b3b;
}

.cartas p{
    padding: 10px 10px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 20px;
    color: #8f8f8f;
}

.cartas a{
    display: inline-block;
    text-decoration: none;
    background: #2b89c8;
    border-radius: 10px;
    padding: 15px 20px;
    color: #fff;
    transition: all 0.25s;
}

.cartas a:hover{
    background: #81cc37;
}

 
.division{
    padding: 20px 0;
} 


.border{
    width: 90%;
    max-width: 1200px;
    /* height: 1px; */
    border: 1px dotted rgb(46, 46, 46);
    margin: auto;
    margin-bottom: 40px;
}

/*Medio*/

.medios{
    /* background: #cecece; */
    padding: 60px 0;
}

.contenedor-medio{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
}

.medio{
    /* background: #a5d62e; */
    width:230px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.25s;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: center;
}

.medios a{
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    margin-right: 10px;
}

.medios p{
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
}

.one{background: #a498d3;}

.two{background: #a5d62e;}

.tree{background: #2b9bc8;}

.for{background: #f25c72;}

.one:hover{opacity: 0.8;}

.two:hover{opacity: 0.8;}

.tree:hover{opacity: 0.8;}


.contactos{
    background: #d7f3ff;
    margin-top: 90px;
    padding-bottom: 40px;
    border-top: 3px solid #a5d62e;
}

.contenedor-contacto{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.submenu{
    width: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.submenu nav{
    margin: auto;
}

 .submenu nav ul{
    display: flex;
    list-style: none;
}

.submenu nav ul li{
    height: 100%;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.submenu nav ul li a{
    color: rgb(83, 83, 83);
    font-size: 16px;
    transition: color 300ms;
    font-weight:600;
}

.submenu nav ul li a:hover:before{
    content: '';
    width: 100%;
    height:3px;
    position: absolute;
    background: #81cc37;
    top: 25px;
}
.info{
    width: 100%;
    max-width: 1200px;
    display: flex;
    /* background:#83ffad; */
    padding: 40px 0;
}
.direccion{
    width: 30%;
}

.direccion p{
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    color: #555555;
}

.formulario{
    width: 40%;
}

.formulario .sus{
    font-size: 20px;
    text-align: center;
    color: #3fb4d1;
    font-weight:lighter;
    margin-bottom: 15px;
}

.formulario input[type="text"]{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #cecece;
    /* border-radius: 5px; */
}

.formulario input[type="checkbox"]{
    margin-bottom: 15px;
    color: #cecece;
}

.labele{
    font-size: 14px;
    color: #555555;
}

.formulario a{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    background: rgb(51, 12, 61);
    color: #fff;
    transition: all ease 0.5s;
}

.formulario a:hover{
    background: #000;
}

.proximo{
    width: 30%;
}


.proximo h5{
    text-align: center;
    font-size: 18px;
    color: #3fb4d1;
    font-weight: lighter;
}

.proximo img{
    width: 120px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 5px;
}
@media screen and (max-width:1100px){
    .tarjeta{
        margin: 20px 10px ;
    }

    .servicio{
        margin-bottom:20px;
    }

    .cartas{
        margin: 40px 20px;
    }

    .medio{
        margin-bottom: 30px;
    }
}


@media screen and (max-width:800px){
    /*Main*/
    .main .contenedor{
        flex-direction: column;
    }
    .main .imagen{
        width: 70%;
    }
    .info-imagenes{
        width: 100%;
    }
    .info-imagenes h2{
        text-align: center;
        color: #0c1369;
        margin: 20px 0;
        font-size: 30px;
        font-weight: lighter;
    }
    
    .info-imagenes .uno{
        padding: 40px 0;
        font-size: 18px;
        line-height: 27px;
    }
    
    .info-imagenes .dos{
        font-size: 18px;
        text-align: center;
    }

    .informacion{
        display: none;
    }
    
    body{
        overflow-x:hidden ;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 70px;
        left: -35px;
        background: #fff;
        overflow: hidden;
        transform: translateX(-300px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }
    .menu ul li a{
        margin-top: 40px;
        color: #858585;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
    }

    .info-portada .titulo{
        font-size: 20px;
    }
}